@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-image {
    clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
  }

  @media screen and (min-width: 768px) {
    .clip-image {
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    }
  }

  .button {
    @apply bg-primary-600 md:px-6 md:py-4 px-3 py-2 rounded-full text-white-true text-xs md:text-xl uppercase font-semibold shadow-8 hover:bg-primary-300 transition-all duration-200 active:shadow-none;
  }

  input[type='text'] {
    @apply md:px-6 md:py-4 px-3 py-2 placeholder:text-white bg-dark-card  text-xs md:text-xl rounded-full border-2 border-primary-600 text-white-high shadow-8 focus:outline-none focus:border-primary-300 box-border;
  }
}

@layer base {
  html {
    font-family: Montserrat;
  }
}
